<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org">
    <gazebo>
        <plugin name="ardupilot_plugin" filename="libArduPilotPlugin.so">
            <fdm_addr>127.0.0.1</fdm_addr>
            <fdm_port_in>9002</fdm_port_in>
            <fdm_port_out>9003</fdm_port_out>

            <!-- Αντιστοίχιση καναλιών ArduPilot με Joints Gazebo -->
            <modelXYZToAirplaneXForwardZDown>0 0 0 0 0 0</modelXYZToAirplaneXForwardZDown>
            <gazeboXYZToNED>0 0 0 0 0 0</gazeboXYZToNED>

            <control channel="0">
                <jointName>rotor_0_joint</jointName>
                <multiplier>1000</multiplier>
                <controlVelocitySlowdownSim>10</controlVelocitySlowdownSim>
            </control>
            <control channel="1">
                <jointName>rotor_1_joint</jointName>
                <multiplier>1000</multiplier>
                <controlVelocitySlowdownSim>10</controlVelocitySlowdownSim>
            </control>
            <control channel="2">
                <jointName>rotor_2_joint</jointName>
                <multiplier>1000</multiplier>
                <controlVelocitySlowdownSim>10</controlVelocitySlowdownSim>
            </control>
            <control channel="3">
                <jointName>rotor_3_joint</jointName>
                <multiplier>1000</multiplier>
                <controlVelocitySlowdownSim>10</controlVelocitySlowdownSim>
            </control>

        </plugin>
    </gazebo>
</robot>